* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}


.burgermenu{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
        top: 2vh;
        right: 5%;
}

.list{
display: flex;
justify-content: space-around;
flex-direction: column;
position:absolute;
right: -30vw;
height:90vh;
top:10vh;
align-items: center;
width:30vw;
transition: all 1s;
}

.list li{
    list-style:none;
}
.burger div{
width:40px;
height:5px;
margin:6px;
border-radius: 0%;
background-color: black;
transition: all 0.3s;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 10px)
}
.toggle .line2{
    opacity:0%
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -10px)
}
.listactive{
    transform: translateX(-30vw);   
}