* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black

}

body {
    overflow-x: hidden;
}

h1{
    font-size: 30px;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    
}
.title a{
    font-size: 35px
}
.title{
    background-color: red;
    height: calc(10vh - 10px);
    width: calc(100vw - 10px);
    position: fixed;
    border: 5px solid black;
}
.burgermenu{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2vh;
    right: 5%;

}

.burgerlist{
display: table;
justify-content: space-around;
flex-direction: column;
position:absolute;
right: calc(-35vw - 10px);
height:75vh;
top:calc(8vh - 5px);
align-items: center;
width:30vw;
transition: all 1s;
background-color: red;
border-bottom:5px solid black;
border-right:5px solid black;
border-left:5px solid black;
}

.burgerlist a{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    font-size: 30px
}

.burgerlist > .mainLinks {
    display: table-row; 
    text-align: center;
    
}

.burgerlist > .mainLinks:hover {
    background-color: yellow;
}


.burgerlist a {
    width: 100%;
    border-top: 5px solid rgb(0, 0, 0);
}

.burgerlist li{
    list-style:none;
}
.mainLinks{
    border-top:5px solid black;
}


.burger div{
width:40px;
height:5px;
margin:6px;
border-radius: 0%;
background-color: black;
transition: all 0.3s;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 10px)
}
.toggle .line2{
    opacity:0%
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -10px)
}
.listactive{
    transform: translateX(calc(-30vw -  10px)); 
}

.branch{
    top: calc(10vh - 5px);
    position: relative;
    z-index: -1;
    border: 5px solid black;
    height: 300vh;
    width: calc(100vw- 16px);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
.branch img{
    width: 80vw;
}
.branch h2{
    font-size: 13vw;
    position: relative;
    
}
.branch t{
    font-size: 20px;
}
.lowernav{
    width: 100vw;
    height: 10vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 5px solid white;
    background: white;
    display: grid;
    grid-template-areas: 
    "l1 l2 l3 l4";
    align-items: center
}
.lowernav t{
    font-size: 20px
}
.lowernav img{
    width: auto;
    height: 9vh;

}
#link1{
    grid-area: l1;
}
#link2{
    grid-area: l2;
}
#link3{
    grid-area: l3;
}
#link4{
    grid-area: l4;
    border-right:5px solid black
}
.lowernav a{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
}