* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

a {
    text-decoration: none;
    color: black

}

body {
    overflow-x: hidden;   
}

.title h1{
    font-size: 5vw;
    align-self: center;
    margin-left: 10px;
}
.title{
    z-index: 1;
    background-color: red;
    height: 9vw;
    width: calc(100% - 10px);
    position: fixed;
    display:flex;
    border: 5px solid black;

}
.burgermenu{
    position: absolute;
    align-self: center;
    right: 5%;

}

.burgerlist{
display: table;
justify-content: space-around;
flex-direction: column;
position:absolute;
right: calc(-30vw - 15px);
height:75vh;
top:9vw;
width:30vw;
transition: all 1s;
background-color: red;
border-bottom:5px solid black;
border-right:5px solid black;
border-left:5px solid black;
}

.burgerlist a{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    font-size: 30px
}

.burgerlist > .mainLinks {
    display: table-row; 
    text-align: center;
    
}

.burgerlist > .mainLinks:hover {
    background-color: yellow;
}


.burgerlist a {
    width: 100%;
    border-top: 5px solid rgb(0, 0, 0);
}

.burgerlist li{
    list-style:none;
}


.burger div{
width:4vw;
height:0.5vw;
margin:0.6vw;
border-radius: 0%;
background-color: black;
transition: all 0.3s;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-0.5vw, 1vw)
}
.toggle .line2{
    opacity:0%
}
.toggle .line3{
    transform: rotate(45deg) translate(-0.5vw, -1vw)
}
.listactive{
    transform: translateX(calc(-30vw -  10px)); 
}

.content{
    position: relative;
    top: 9vw;
    border: 5px solid black;
    height:calc(100% + 150px);
    width: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.zlevel{
    z-index: -1;
}
.titleimage{
    position: relative;
    width: 40vw;
    border: 5px solid black;
}
.content h2{
    font-size: 7vw;
    position: relative;    
    margin-bottom: 4vw;
}
.content h3{
    font-size: 4vw;
    position: relative;
}
.content p{
    font-size: 20px;
    margin: 25px;
}

.lowernav{
    width: calc(100% + 10px);
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-bottom: 5px solid white;
    background: white;
    display: grid;
    grid-template-areas: 
    "l1 l2 l3 l4";
    align-items: center;
    border-bottom: 5px solid black;
}
.lowernav p{
    font-size: 3.5vw;
    margin: 10px;
}
.lowernav img{
    width: auto;
    height: 10vw;
    border: 5px solid black;

}
#link1{
    grid-area: l1;
}
#link2{
    grid-area: l2;
}
#link3{
    grid-area: l3;
}
#link4{
    grid-area: l4;
    border-right:5px solid black
}
.lowernav a{

    border-top: 5px solid black;
    border-left: 5px solid black;
}
.lowernav > .mainLinks:hover {
    background-color: rgb(190, 190, 190);
}
.contact{
    position: relative;
    height: auto;
    width:100%;
    text-align: left;
}
.contact p{
    margin: 15px
}
article{
    width: calc(100% + 10px);
    height: auto;
    grid-template-columns: 45vw;
    grid-template-rows: auto;
    border-bottom: 5px solid white;
    background: white;
    display: grid;
    grid-template-areas: 
    "p1 p2"
    "p3 p4";
    align-items: center;
}
@media screen and (max-width: 900px) {
    article {
        grid-template-columns: 95vw;
        grid-template-areas: 
        "p1"
        "p2"
        "p3"
        "p4";
    }
    .titleimage{
        width: 90vw;
    }
    .burgerlist{
        right: calc(-100vw - 15px);
        height:15vh;
        top:9vw;
        width:100vw;
        display: flex;
        flex-direction: row;
        border-top: 5px solid rgb(0, 0, 0);
        border-left: 5px solid rgb(0, 0, 0);
        }
    .listactive{
        transform: translateX(calc(-100vw )); 
    }
    .burgerlist a {
        border-top: 0px solid rgb(0, 0, 0);
    }
    .mainLinks{
        width: 25%;
        border-right: 5px solid rgb(0, 0, 0);
    }
}
.plats1{
    grid-area: p1;
}
.plats2{
    grid-area: p2;
}
.plats3{
    grid-area: p3;
}
.plats4{
    grid-area: p4;
}